      - name: Bắt đầu chuyển đổi
        run: |
          ffmpeg -cenc_decryption_key "0c64ccfb978e7390bd33344075492aec" \
          -i "https://s2129134.cdn.mytvnet.vn/pkg20/live_dzones/dmax.smil/manifest.mpd" \
          -t 60 -c copy -hls_time 10 -hls_list_size 0 index.m3u8
